/*GOODLE-FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');


/* BODY WORK*/

body{
  display: flex;
  background-color: silver;
}

/* SIDE NAV BAR*/

ul{
  list-style: none;
  margin: 0;
  padding:0;
}

a{
  text-decoration: none;
  color: rgb(252, 252, 200);
  
}



button{
  cursor: pointer;
}
button,input{
  border: none;
  outline: none;
}



/* SIDE NAV BAR*/
.sidebar{
  position: fixed;
  width: 80px;
  height: 80vh;
  color: lightskyblue;
  z-index: 10;

}


/* SIDE NAV BAR*/
.nav_menu{
  position: fixed;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top;
  width: 58vh;}


.menu{
  display: flex;
}

.nav_list {
  display:flex;
  flex-direction: row-reverse;
  margin: 12px  0 ;
}

.nav_link{
  height:90%;
  line-height: 100px;
  padding:0 1rem;
  color: rgb(252, 252, 200);
  font-size: 2rem;
  position: relative;
  transition:1.5s;
}


/* ACTIVE-LINK*/

.nav_link.active-link, .nav_link:hover{
  color: yellow;
}

.glass-wrapper{
  display: flex;
  
  margin-top: 13vh;
  margin-left: 30vw;
  z-index:5
}

.decor-1{
 display: flex;
  height: 80vh;
  width: 24vw;
  margin-top: 5vh;
  margin-left: 0vw;
  z-index: -10;
  top: 50;
  background: rgb(148,247,236);
background: linear-gradient(42deg, rgba(148,247,236,1) 0%, 
rgba(247,186,247,1) 50%, rgba(250,206,145,0.5102634803921569) 80%);
backdrop-filter: blur(40px) saturate(0%);
border: 1px solid white 10;
border-radius: 50px;
-webkit-backdrop-filter: blur(200);
box-shadow:whitesmoke 20px;
}

.decor-2{

  height: 90vh;
  width: 24vw;
  margin-left: -3vw;
margin-top: 1vh;
  z-index: -6;
background-color: antiquewhite;
backdrop-filter: blur(100%);
border: 1px solid bisque;
border-radius: 10px;
-webkit-backdrop-filter: blur(100%));
box-shadow: -10px -10px 10px #grey, 7px 7px 10px rgba(250,206,145,0.5102634803921569);
}

.decor-3{
 margin-left: -43vw;
 margin-top: 25vh;
  height: 30vh;
  width: 30vw;
  backdrop-filter: blur(40px) saturate(200%);
border: 1px solid white 10;
border-radius: 50px;
-webkit-backdrop-filter: blur(20);
box-shadow: 20px;
  background: rgb(148,247,236);
  background: linear-gradient(324deg, rgba(148,247,236,1) 0%, rgba(247,186,247,1) 50%, rgba(250,206,145,0.5102634803921569) 100%);
    z-index: 2;

}